<ion-header>
  <ion-toolbar>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-button color="primary" (click)="v1()">Vista 1</ion-button>
  <ion-button color="primary" (click)="v2()">Vista 2</ion-button>
  <ion-button color="primary" (click)="v3()">Vista3</ion-button>
  <ion-button color="primary" (click)="v4()">Vista 4</ion-button>
  <ion-button color="primary" (click)="v5()">Vista 5</ion-button>
  <ion-button color="primary" (click)="v6()">Vista 6</ion-button>
</ion-content>